<link rel="stylesheet" href="./css/home.css">
<script src="https://kit.fontawesome.com/610450b44d.js" crossorigin="anonymous"></script>


<div class="container d-flex align-items-center justify-content-center flex-column">
    <div class="card col-12 col-md-10 col-lg-8 col-xl-6 p-4">
        <div class="card-body">
            <form class="row g-3 mb-3">
                <div class="col-10">
                    <input type="text" class="form-control rounded-pill" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary col-12 rounded-pill" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <p class="fs-2 mb-3">Weather in City</p>
            <p class="fs-2 mb-3">Temperature</p>
            <p class="fs-4 mb-2">Weather details</p>
            <p class="fs-4 mb-1">Weather details</p>
            <p class="fs-4 mb-1">Weather details</p>
        </div>
    </div>
    <div>
        <p class="m-2">myWeather by <a href="#">@ehvenga</a> </p>
    </div>
</div>
